<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <title>About Me</title>
</head>
<body>
    <section class="aboutme">
        <header>
                <div class="container">
                    <div class="row">
                            <nav class="homeNav">
                                <ul>
                                    <li><a class="navlink" href="/dashboard">Home</a></li>
                                    <li><a class="navlink" href="/resume">Resume</a></li>
                                    <li><a class="navlink" href="/contactMe">Contact Me</a></li>
                                    <li><a class="navlink" href="/logout">Logout</a></li>
                                </ul>
                            </nav>
                    </div>
                </div>
            </header>
        <div class="container about-me">
            <div class="row">
                <div class="col-sm-5">
                    <h1>About Me</h1>
                </div>
            </div>
                <div class="row">
                    <div class="col-sm-5">
                        <p>
                            I grew up in Alexandria, VA and originally wanted to pursue a career in either in architecture or mechanical engineering but was not 100% sure. 
                            One thing that always stayed the same was that I had a passion for games, building things, and how things worked. I paused my college degree to serve my country 
                            and to take that time to know for sure what I wanted to pursue. I had joy in PC building and PC gaming so that is how I knew I wanted to go into technology. 
                            I decided to change my degree path to computer science and that is when I first learned programming fundamentals, algorithms, and my first coding language. 
                            It was everything I loved to do when it came to technology; how things worked and building applications. After my contract with the U.S Army I was referred to a 
                            coding bootcamp and joined Coding Dojo. It was the best educational experience I have ever had, I learned so much yet so much more to learn. My passion for coding is 
                            set in stone and I aspire to become a better developer.
                        </p>
                    </div>
                </div>    
                    <div class="container technologies">
                        <div class="row">
                            <div class="col-sm-5">
                                <h1 class="tech-header">Technologies I learned</h1>
                            </div>
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="about-me-logos">
                                            <img class="logo1" src="~/images/python.png" alt="python">
                                            <img class="logo2" src="~/images/csharp.png" alt="C#">
                                            <img class="logo3" src="~/images/react.png" alt="react">
                                            <img class="logo4" src="~/images/django.png" alt="django">
                                            <img class="logo5" src="~/images/nodejs.png" alt="nodejs">
                                            <img class="logo6" src="~/images/aspnet.png" alt="aspnet">
                                            <img class="logo7" src="~/images/vscode.png" alt="vscode">
                                            <img class="logo8" src="~/images/java.png" alt="java">
                                            <img class="logo9" src="~/images/mysql.png" alt="mysql">
                                            <img class="logo10" src="~/images/mongoDB.png" alt="mongoDB">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </body>
    </section>
</html>